{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/place/Ajmeri+Gate,+Sangram+Colony,+Ashok+Nagar,+Jaipur,+Rajasthan+302007/@26.9161542,75.8140116,17z/data=!3m1!4b1!4m23!1m17!1m13!4m12!1m4!2m2!1d75.8183806!2d26.8012649!4e1!1m6!1m2!1s0x396db14b1bd30ba5:0x860e5d531eccb20c!2sHawa+Mahal,+Hawa+Mahal+Rd,+Badi+Choupad,+J.D.A.+Market,+Pink+City,+Jaipur,+Rajasthan+302002!2m2!1d75.8267438!2d26.9239363!2m2!3m1!5e2!3m4!1s0x396db6adcf2a5c59:0x5945a90eab77c00!8m2!3d26.9161157!4d75.8162613" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located in front of Hawa Mahal near Ajmeri Gate,Jaipur.</li>
          <li>We are dedicated to make you feel home food.</li>
          <li>Do not park across the street from us! It is a tourist zone!</li>
        </ul>

      </div>

    </div>

{% endblock %}
